.site-header {
  padding-left: 5vw;
}

.list-container {
  border-radius: 15px !important;
  border: 3px solid rgb(26, 26, 167);
  margin-right: 2vw !important;
}

.page-container {
  margin-top: 15px !important;
  margin-left: 5vw !important;
}

.text-container {
  border: 2px solid rgb(216, 208, 208);
  border-radius: 15px;
  padding: 15px;
}
